			/* navbar section */






.header{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.brand, .active-link{
	color: #44A6F5 !important;
}
.brand{
	padding-right: 300px;
}
.ul{
	font-size: 12px;
	font-weight: bold;
}
.search-btn{
	height: 30px;
	width: 30px;
	background-color: #44A6F5;
	cursor: pointer;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	border: none;
}
.loop{
	color: white;
}






			/* Carousel Section */








.carousel-content{
	height: 800px;
}
.slide-inside-btns{
	height: 50px;
	width: 150px;
	background-color: white !important
	border: none;
}
.heading{
	font-size: 50px;
}
.paragraphs{
	padding-bottom: 400px !important;
}
.up{
	font-size: 16px;
}

	/* setting button */
.slider-container{
	position: relative;
}
#settings{
	height: 30px;
	width: 30px;
	background-color: black !important;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 100px;
	left: 0;
	z-index: 5;
	cursor: pointer;
}






			/* Section 1 */







.sections{
	padding-top: 80px;
}
.sec1-icons{
	height:30px;
	width: 30px;
	font-size: 28px;
	color: #44A6F5;
	text-align: center;
}
.sec1-p2{
	color: #44A6F5;
	font-size: 18px;
	font-weight: bold;
}
.parents{
	display: flex;
	justify-content: center;
	align-items: center;
}
.sec1-3d-p{
	text-align: center;
	font-size: 12px;
}

			




			/* section 2 */







.Section1-left-parent{
	border: 1px black solid;
}
.sec2-minislider-row{
	display: flex;
	justify-content: center;
}
.sec2-icons{
	padding-top: 10px;
	color: #44A6F5;
	text-align: center;
	font-size: 25px;
}
.icon-p{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px; 
	padding-top: 8px !important;
}
.sec2-paragraphs{
	font-size: 14px;
}
.sec2-sub-btns{
	cursor: pointer;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;

}
.activ-btn{
	background-color: #44A6F5;
}
.active-icon{
	color: white !important;
}






			/* Section 3 */






.sec3-p1{
	font-weight: bold;
	font-size: 32px;
}
.sec3-icons{
	padding-top: 10px;
	color: #44A6F5;
	text-align: center;
	font-size: 40px;
}
.sec3-headings{
	color: #44A6F5;
}






			/* Section 4 */





.sec4-ul{
	display: flex;
	text-decoration: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.sec4-ul > li{
	list-style-type: none;
	padding: 0 5px;
	font-size: 14px;
}
.sec4-ul > li > div{
	cursor: pointer;
	border: none;
	background-color: silver;
	padding: 4px;
}
.active-btn{
	background-color: #44A6F5 !important;
	color: white;
}

	/* Gallery pictures */
.pics{
	padding-top: 10px;
}
	/* Button */
.sec4-btn-col{
	display: flex;
	justify-content: center;
	align-items: center;
}
.sec4-btn{
	background-color:  #44A6F5;
	color: white;
	padding: 5px 15px;
	border: none;
	font-size: 14px;
	border-radius: 4px;
}













			/* Hover part */








			/* Media Query part */




