			/* Go Up Btn*/



#go-up-button{
	height: 30px;
	width: 30px;
	background-color: #44A6F5;
	cursor: pointer;
	position: fixed; 
	bottom: 20px;
	right: 30px;
	z-index: 9;
	padding-top: 7px;
	opacity: 0.9;
	display: none;
}
#go-up-button > a{
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	list-style-type: none;
	color: white;
}




			/* navbar section */






.header{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.brand, .active-link{
	color: #44A6F5 !important;
}
.brand{
	padding-right: 300px;
}
.ul{
	font-size: 12px;
	font-weight: bold;
}
.search-btn{
	height: 30px;
	width: 30px;
	background-color: #44A6F5;
	cursor: pointer;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	border: none;
}
.loop{
	color: white;
}






			/* Carousel Section */








.slide-inside-btns{
	height: 50px;
	width: 150px;
	background-color: white !important
	border: none;
}
.heading{
	font-size: 50px;
}
.paragraphs{
	padding-bottom: 400px !important;
}
.up{
	font-size: 16px;
}

	/* setting button */
.slider-container{
	position: relative;
}
#settings{
	height: 30px;
	width: 30px;
	background-color: black !important;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 100px;
	left: 0;
	z-index: 5;
	cursor: pointer;
}






			/* Section 1 */







.sections{
	padding-top: 80px;
}
.sec1-icons{
	height:30px;
	width: 30px;
	font-size: 28px;
	color: #44A6F5;
	text-align: center;
}
.sec1-p2{
	color: #44A6F5;
	font-size: 18px;
	font-weight: bold;
}
.parents{
	display: flex;
	justify-content: center;
	align-items: center;
}
.sec1-3d-p{
	text-align: center;
	font-size: 12px;
}

			




			/* section 2 */







.Section1-left-parent{
	border: 1px black solid;
}
.sec2-minislider-row{
	display: flex;
	justify-content: center;
}
.sec2-icons{
	padding-top: 10px;
	color: #44A6F5;
	text-align: center;
	font-size: 25px;
}
.icon-p{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px; 
	padding-top: 8px !important;
}
.sec2-paragraphs{
	font-size: 14px;
}
.sec2-sub-btns{
	cursor: pointer;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;

}







			/* Section 3 */




.bars{
	height: 3px !important;
	width: 30px;
}
.bars-main{
	width: 100px;
}
.sec3-p1{
	font-weight: bold;
	font-size: 32px;
}
.sec3-icons{
	padding-top: 10px;
	color: #44A6F5;
	text-align: center;
	font-size: 40px;
}
.sec3-headings{
	color: #44A6F5;
}






			/* Section 4 */





.sec4-ul{
	display: flex;
	text-decoration: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.sec4-ul > li{
	list-style-type: none;
	padding: 0 5px;
	font-size: 14px;
}
.sec4-ul > li > div{
	cursor: pointer;
	border: none;
	background-color: silver;
	padding: 4px;
}
.active-btn{
	background-color: #44A6F5 !important;
	color: white;
}

	/* Gallery pictures */
.pics{
	padding-top: 10px;
}
	/* Button */
.sec4-btn-col{
	display: flex;
	justify-content: center;
	align-items: center;
}
.sec4-btn{
	background-color:  #44A6F5;
	color: white;
	padding: 5px 15px;
	border: none;
	font-size: 14px;
	border-radius: 4px;
}






			/* section 5 */





.sec5-cols{
	text-align: center;
}
.sec5-blue-ones{
	color: #44A6F5;
}




		
			/* section 6 */




.sec6names{
	color: #44A6F5;	
	font-weight: bold;
}
.bios{
	font-size: 12px;
}
.sec6-icons{
	color: grey;
	font-size: 16px;
	cursor: pointer;
}
.sec6-parent-cols{
	padding-top: 40px;
}





			/* section 7 */





.sec7-fluid{
	margin-top: 100px;
	background-color: #44A6F5;
}
.sec7cont{
	width: 50% !important;
}
.sec7-carousel-body{
	height: 300px;
}
.sec7-carouasel-btns{
	height: 10px !important;
	width: 10px !important;
	margin: 5px !important;
}
	/* carousel content */
.sec7-cols{
	text-align: center;
	color: white;
}
.main-pic{
	height: 80px;
	width: 80px;
	border-radius: 100%;
}
.sec7-bio{
	font-size: 12px;
	opacity: 0.5;
}
.sec7-description{
	text-align: center;
	font-size: 12px;
}






		
			/* Section 8 */





.section8{
	padding-top: 10px;
}
.sec8-logos{
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}






		
			/* Section 9 */






.section9{
	padding-top: 50px !important;
}
.general-divs{
	background-color: rgb(235, 235, 235);
}
.sec9-photoes{
	width: 100%;
}
.sec9-headings{
	color: #44A6F5;
	font-weight: bold;
}
.sec9-paragraphs{
	font-size: 12px;
	color: grey;
}
.sec9-icons{
	cursor: pointer;
	color: #44A6F5;
	font-size: 12px;
}
.sec9-btns{
	height: 30px;
	width: 30px;
	border: none;
	color: white;
	background-color: #44A6F5;
	border-radius: 100%; 
	font-size: 14px;
}
.sec9-btn-parent{
	padding: 20px 4px 0 0;
}






		
			/* Section 10 */





/* Left */
.sec10-paragraph1{
	font-size: 12px;
}
.sec10-icon{
	height: 30px;
	width: 30px;
	display: flex !important;
	justify-content: center  !important;
	align-items: center !important;
	color: white;
	background-color: #44A6F5;
}
.sec10-par2{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
/* Right */
.inputs{
	width: 100%;
	margin-top: 30px;
	border: none;
	border-bottom: 1px grey solid;
	opacity: 0.8;
	font-size: 14px;
}
.sec10-btn{
	margin-top: 50px;
	opacity: 0.7;
}






			/* section 11 */





.section11{
	margin-top: 50px !important;
	border-top: 5px #44A6F5 solid;
	background-color: #333333;
}
.sec11-headings{
	color: white;
	padding-top: 30px;
}
.sec11-first-paragraph{
	font-size: 12px;
	color: white;
}
.sec11-icons{
	font-size: 10px;
	color: white;
	height: 30px;
	width: 30px;
	background-color: #2A2A2F;
	margin: 2px;
	text-align: center;
	padding-top: 8px;
}
.sec11-first-paragraph2{
	font-size: 12px;
	color: white;
}
.sec11-third-paragraphs{
	font-size: 12px;
	color: white;	
}
.sec11-pics{
	padding: 0;
	margin: 2px;
}






			/* Footer part */





.footer{
	background-color: black;
}
.footer-main-col{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 11px;
	padding: 15px 0 0 0;
}








			/* Hover part */








			/* Media Query part */




@media only screen and (max-width: 1300px) {
  .paragraphs{
  	padding-bottom: 250px !important;
  }
}
@media only screen and (max-width: 1000px) {
  .paragraphs{
  	padding-bottom: 100px !important;
  }
  .sec3-icons-col{
  	margin-right: 30px !important;
  }
}
@media only screen and (max-width: 720px) {
	.brand{
		padding-right: 200px;
	}
	#settings{
		top: 50px;
	}
	.sec4-ul{
		display: block;
		padding: 0;
	}
}
@media only screen and (max-width: 420px) {
	.brand{
		padding-right: 100px;
	}
	#settings{
		height: 20px;
		width: 20px;
		top: 20px;
	}
}
@media only screen and (max-width: 360px) {
	.brand{
		padding-right: 20px;
	}
}





















